body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font: 50px;
}
.name-highlight{
    color: blue;
}
body{
    margin: 20;
}
.hilf-width{
    width: 40%;
    height: 650px;
    float: left;
    margin-top: 2% ;
    margin-left: 5%;
    padding-left: 2%;
}
.hilf-width img{
    width: 100%;
}